<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotusir.courseserver.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.lotusir.courseserver.domain.Student">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_name" jdbcType="CHAR" property="studentName" />
    <result column="student_sex" jdbcType="CHAR" property="studentSex" />
    <result column="student_age" jdbcType="INTEGER" property="studentAge" />
    <result column="student_dept" jdbcType="CHAR" property="studentDept" />
    <result column="student_username" jdbcType="CHAR" property="studentUsername" />
    <result column="student_password" jdbcType="CHAR" property="studentPassword" />
  </resultMap>

  <resultMap id="GradeMap" type="com.lotusir.courseserver.domain.StudentGrade">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_name" jdbcType="CHAR" property="studentName" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>

  <sql id="Base_Column_List">
    student_id, student_name, student_sex, student_age, student_dept, student_username, 
    student_password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.lotusir.courseserver.domain.Student">
    insert into t_student (student_id, student_name, student_sex, 
      student_age, student_dept, student_username, 
      student_password)
    values (#{studentId,jdbcType=INTEGER}, #{studentName,jdbcType=CHAR}, #{studentSex,jdbcType=CHAR}, 
      #{studentAge,jdbcType=INTEGER}, #{studentDept,jdbcType=CHAR}, #{studentUsername,jdbcType=CHAR}, 
      #{studentPassword,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.lotusir.courseserver.domain.Student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="studentSex != null">
        student_sex,
      </if>
      <if test="studentAge != null">
        student_age,
      </if>
      <if test="studentDept != null">
        student_dept,
      </if>
      <if test="studentUsername != null">
        student_username,
      </if>
      <if test="studentPassword != null">
        student_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=CHAR},
      </if>
      <if test="studentSex != null">
        #{studentSex,jdbcType=CHAR},
      </if>
      <if test="studentAge != null">
        #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentDept != null">
        #{studentDept,jdbcType=CHAR},
      </if>
      <if test="studentUsername != null">
        #{studentUsername,jdbcType=CHAR},
      </if>
      <if test="studentPassword != null">
        #{studentPassword,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.lotusir.courseserver.domain.Student">
    update t_student
    <set>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=CHAR},
      </if>
      <if test="studentSex != null">
        student_sex = #{studentSex,jdbcType=CHAR},
      </if>
      <if test="studentAge != null">
        student_age = #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentDept != null">
        student_dept = #{studentDept,jdbcType=CHAR},
      </if>
      <if test="studentUsername != null">
        student_username = #{studentUsername,jdbcType=CHAR},
      </if>
      <if test="studentPassword != null">
        student_password = #{studentPassword,jdbcType=CHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.lotusir.courseserver.domain.Student">
    update t_student
    set student_name = #{studentName,jdbcType=CHAR},
      student_sex = #{studentSex,jdbcType=CHAR},
      student_age = #{studentAge,jdbcType=INTEGER},
      student_dept = #{studentDept,jdbcType=CHAR},
      student_username = #{studentUsername,jdbcType=CHAR},
      student_password = #{studentPassword,jdbcType=CHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>

  <select id="selectByUsername" parameterType="com.lotusir.courseserver.domain.Student" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_student where student_username = #{username,jdbcType=CHAR}
  </select>

  <select id="selectByCourseId" parameterType="com.lotusir.courseserver.domain.StudentGrade" resultMap="GradeMap">
    select t_student.student_id,student_name,grade
    from t_student join t_student_course on t_student.student_id = t_student_course.student_id
    where course_id = #{courseId}
  </select>

  <select id="selectAllStudents" parameterType="com.lotusir.courseserver.domain.Student" resultMap="BaseResultMap">
    select student_id,student_name,student_sex,student_age,student_dept from t_student where student_id != 0
  </select>

</mapper>